/* regole generali */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    font-family: 'Roboto', sans-serif;
}
.flex{
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}
.flex-colonna{
    flex-direction: column;
}
.flex-center{
    align-items: center;
    justify-content: center;
}


/* inizio header */
header{
    background-color: black;
    justify-content: flex-end;
    font-size: 15px;
    height: 70px;
    width: 100%;   
}
.flex-center-header{
    align-items: flex-start;
}
.view{
    margin: 8px 10px 0px 0px;
}
.griglia{
    margin-right: 5px;
}
.font-arrow{
    border-radius: 3px;
    margin: 8px 10px 0px 0px;
}

.background-header{
    background-color: #4a4a4a;
    border-radius: 3px;
    text-decoration: none;
    color: white;
    padding: 5px;
}
/* fine header */


/* inizio main */
main{
    background-color: black;
    height: calc(100vh - 170px);
    width: 90%;
    overflow: auto;
    margin: auto;
    
}

.utenti{
    background-image: url('https://picsum.photos/300/200');
    width: 300px;
    height: 200px;
    margin: 5px;
    align-items: flex-end;
}
.testo-utente{
    background-color: gray;
    color: white;
    font-size: 13px;
    padding: 5px;
}
/* fine main */


/* inizio footer */
footer{
    background-color: #222222
    ;
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 999;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.box{
    margin-left: 30px;
}
.icone{
    font-size: 30px;
    margin-bottom: 7px;
}
.freccia-up{
    font-size: 15px;
    margin-left: 20px;
    margin-right: 30px;
}
.margin-right{
    margin-right: 30px;
}
.colore-icone{
    color: chartreuse;
}
.testo-end{
    color: red;
    font-size: 15px;
    font-weight: bolder;
}
.box-end{
    background-color: #4a4a4a
    ;  
}
.cursor:hover{
    cursor: pointer;
}
.margin-end{
    height: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

/* fine footer */